@{
    ViewData["Title"] = "WEATHER APPLICATION";
}
@foreach (var cityList in ViewBag.cityList)
{
    <div class="box float-left w-50">
        <div class="text-green">
            <table class="flex-borderless">
                <tr class="blue-back">City</tr>
                <tr>
                    <td>@cityList.CityName</td>
                </tr>
                <tr>
                    <td class="text-red">@cityList.DateAndTime?.ToString("MM/DD/YYYY")</td>
                </tr>
                <tr>
                    <td class="text-red">@cityList.TemperatureFahrenheit</td>
                </tr>
            </table>
        </div>
    </div>
}