@{
    ViewData["Title"] = "WEATHER APPLICATION PROJECT";
}
<div>
    <ul>
        <li>@Model.CityUniqueCode</li>
        <li>@Model.CityName</li>
        <li>@Model.DateAndTime.ToString("yyyy-MM-dd HH:mm")</li>
        <li>@Model.TemperatureFahrenheit</li>
    </ul>
</div>

