<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center w-100 header green-back">WEATHER APPLICATION</h1>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <h1>Weather</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="green-back">
        @RenderBody()
        </div>
    </div>

<div class= "footer">   
</div>
</body>
</html>
